*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Open sans",sans-serif;
}

body{
    height: 100vh;
    background-image: url('https://scontent.flbv5-1.fna.fbcdn.net/v/t39.30808-6/487702660_1072740971561367_4266740838459671231_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=MEecfavuyV8Q7kNvwHuuMVU&_nc_oc=Adl9geo1hPCajubnaqF4C5ZdRfw2bLCWmfg9RVHD6vKvM8H1a1ot4M75ROv4kBB25yTDpNfooB3KtDCS84xewwMG&_nc_zt=23&_nc_ht=scontent.flbv5-1.fna&_nc_gid=t1d8BmPVviOGfdKny4KUlw&oh=00_AfGVJ8ecVCaLqO5ImpPdnwIP0jOMVbtw3m-jhPmxMseVOQ&oe=681D9884');
    background-size: cover;
    background-position: center;
}

a{
   color: #fff;
   font-size: 1rem;
}
a:hover{
    color: #63c7b2;
}
header{
    position: relative;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 0.238);
}

.navbar{
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
     font-size: 1.5rem;
     font-size: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .burger-menu-button{
         color: #fff;
         font-size: 1.5rem;
         cursor: pointer;
         display: none;
}

.button{
    display: flex;
    gap: 10px;
}

.action-button{
    background-color: #63c7b2;
    color: #120d31;
    border: 1px solid #63c7b2;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    outline: none;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}

.action-button:hover{
    color: #fff;
    border: 1px solid #fff;
}

.pro{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.pro:hover{
    background-color:#fff;
    color: #120d31;
}



/*-----------------------BURGER-MENU----------------------*/
.burger-menu{
    display: none;
    height: 0;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 200px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.burger-menu.open{
    height: 290px;
}

.burger-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider{
    height: 1px;
    background-color: #fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.burger-menu .action-button{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button-burger-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*-----------------------RESPONSSIVE----------------------*/

@media (max-width: 990px){
    header {
        background: none;
    }
    .navbar .links,
    .navbar .action-button{
        display: none;
    }

    .navbar .burger-menu-button{
        display:block;
    }

   .burger-menu{
    display: block;
   }
}

@media (max-width: 576px){
  .burger-menu{
    left: 2rem;
    width: unset;
   }
}






































